/* CSS for Horiseon */

/* Default box parameters
   No padding, no margin, box size border-box*/
* { 
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* site background color is white */
body {
    background-color: #d9dcd6;
}

/* defining parameters for header class
padding, new font family, blue background, white text */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/* resize font and keep in header box */
header h1 {
    display: inline-block;
    font-size: 48px;
}

/* make 'seo' look grey */
header h1 .seo {
    color: #d9dcd6;
}

/* change nav font family, size, and float right */
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* no styling for the bullet points */
header nav ul {
    list-style-type: none;
}

/* line up the list elements with 25px gap */
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* make anchor tags (links) white. Used for Nav Links */
a {
    color: #ffffff;
    text-decoration: none;
}

/* adjust paragraph font size */
p {
    font-size: 16px;
}

/* adjust hero banner width */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

/* floating class for easier writing. Margins 25px */
.float-right {
    float: right;
    margin-left: 25px;
}

/* main text area. adjust width, "display: inline-block;" allows for aside (contains benefits) to sit to the right */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* adjust location, margins, size, and font family for benefits <aside>. Floats right of the main Article*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* define styling for lead, brand, and cost <p> text as 32px bottom margins and white text*/
.benefit-style {
    margin-bottom: 32px;
    color: #ffffff;
}

/* define styling for lead, brand, and cost <h3> as 10px margins and centered text. text color is already set from parent classes*/
.benefit-style h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* sizing benefits images */
.benefit-style img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* set sizing, font, boxes, background colors for benefits sections */
.article-styling {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* set max img sizing for main article images */
.article-styling img {
    max-height: 200px;
}

/* set font and sizing for main article headers */
.article-styling h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Sizing, aligning, font family, and clearfix for proper displaying */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* font sizing for footer h2*/
footer h2 {
    font-size: 20px;
}
